@import "../../../styles/_variables.scss";
$drawer-width:240;
$drawer-width-px:240px;
    
:export {
    drawer_width:$drawer-width;    
}
.main {
    flex-grow:1;
    padding:$spacing-sm;
    @include greater-than-phone(){
        width:calc(100% - $drawer-width-px);
        margin-left: $drawer-width-px;
    }
}
.nav {
    position:fixed;
    @include greater-than-phone(){
        width: $drawer-width-px;
        height: calc(100% - 65px);
    }
}
.container {
    display: flex;
}

.drawer {
    height: 100%;
    &.fixed {
        display: none;
        @include greater-than-phone(){
            display: block;
        }
    }
    &.temporary {
        display: block;
        @include greater-than-phone(){
            display: none;
        }

    }
}
.hamburger_icon {
    margin-right: $spacing-sm;
    @include greater-than-phone(){
        display: none;
    }
}
