@import "./variables.scss";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: $grey-500;
  text-decoration: none;
  cursor: pointer;
  &.active {
    color:$primary-color;
  }
}
p {
  color:$grey-900;
}
nav {
  border-right: 1px solid $grey-200;
}
* {
  box-sizing: border-box;
}
.menu-item {
  padding:$spacing-xs $spacing-sm;
}
header {
  //padding:$spacing-sm $spacing-lg;
  border-bottom: 1px solid $grey-200;
}
